<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="defaultSchema" value="dbo" />
		<add key="defaultNamespace" value="MockCompany.Project.Entities" />
	</appSettings>
	<connectionStrings>
		<add name="db" connectionString="Server=localhost;Database=TestDb;User Id=testuser;Password=Test@1234;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>